/node_modules
/public/hot
/public/storage
/public/images
/public/images/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/app/public/
/public/images/
/public/images/**/*.pdf
/public/images/**/*.doc
/public/images/**/*.docx
/public/images/**/*.png
/public/images/**/*.jpg
/public/images/**/*.jpeg
/public/images/**/*.PDF
/public/images/**/*.DOC
/public/images/**/*.rtf
/public/eventfile
/public/icsfiles
